<header>
    <nav>
        <a href="/"><h1>Bibliotheca</h1></a>
        <ul>
            <a href="/authors"> <li>Authors</li> </a>
            <a href="/authors/new"> <li>Add Author</li></a>
            <a href="/books"> <li>Books</li></a>
            <a href="/books/new"> <li>Add Book</li></a>
        </ul>  
    </nav>
</header>