<h2>Recently Added Books</h2>

<div>
<% books.forEach(book => {%>
<a href="/books/<%= book.id %> ">
<img height = "150px" width="150px" src="<%= book.coverImagePath %> " alt="bookimage">
</a>
<% }); %> 
</div>